In [1]:
import pandas as pd

In [11]:
od_15367_jml_pengunjung_ke_objek_wisata__jenis_wisatawan = pd.read_csv('Files/pariwisata/od_15367_jml_pengunjung_ke_objek_wisata__jenis_wisatawan/data.jabarprov.go.id/disparbud-od_15367_jml_pengunjung_ke_objek_wisata__jenis_wisatawan_data.csv', sep=',')

od_15414_jumlah_pengunjung_museum_berdasarkan_kabupatenkota = pd.read_csv('Files/pariwisata/od_15414_jumlah_pengunjung_museum_berdasarkan_kabupatenkota/data.jabarprov.go.id/disparbud-od_15414_jumlah_pengunjung_museum_berdasarkan_kabupatenkota_data.csv')

od_15420_jml_pengunjung_tempat_rekreasi__jenis_wisatawan = pd.read_csv('Files/pariwisata/od_15420_jml_pengunjung_tempat_rekreasi__jenis_wisatawan/data.jabarprov.go.id/disparbud-od_15420_jml_pengunjung_tempat_rekreasi__jenis_wisatawan_data.csv')

od_15422_jumlah_wisatawan_berdasarkan_kategori = pd.read_csv('Files/pariwisata/od_15422_jumlah_wisatawan_berdasarkan_kategori/data.jabarprov.go.id/disparbud-od_15422_jumlah_wisatawan_berdasarkan_kategori_data.csv')

od_17233_jumlah_pengunjung_bioskop_berdasarkan_kabupatenkota = pd.read_csv('Files/pariwisata/od_17233_jumlah_pengunjung_bioskop_berdasarkan_kabupatenkota/data.jabarprov.go.id/disparbud-od_17233_jumlah_pengunjung_bioskop_berdasarkan_kabupatenkota_data.csv')

od_penginapan_remaja_berdasarkan_kunjungan_wisatawan = pd.read_csv('Files/pariwisata/od_penginapan_remaja_berdasarkan_kunjungan_wisatawan/data.jabarprov.go.id/disparbud-od_penginapan_remaja_berdasarkan_kunjungan_wisatawan_data.csv')

od_perkemahan_berdasarkan_jumlah_pengunjung = pd.read_csv('Files/pariwisata/od_perkemahan_berdasarkan_jumlah_pengunjung/data.jabarprov.go.id/disparbud-od_perkemahan_berdasarkan_jumlah_pengunjung_data.csv')

od_pondok_wisata_berdasarkan_jumlah_pengunjung = pd.read_csv('Files/pariwisata/od_pondok_wisata_berdasarkan_jumlah_pengunjung/data.jabarprov.go.id/disparbud-od_pondok_wisata_berdasarkan_jumlah_pengunjung_data.csv')

In [12]:
od_15367_jml_pengunjung_ke_objek_wisata__jenis_wisatawan

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jenis_wisatawan,jumlah_pengunjung,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,MANCANEGARA,54927,ORANG,2014
1,2,32,JAWA BARAT,3201,KABUPATEN BOGOR,NUSANTARA,4075198,ORANG,2014
2,3,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,MANCANEGARA,49985,ORANG,2014
3,4,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,NUSANTARA,2031979,ORANG,2014
4,5,32,JAWA BARAT,3203,KABUPATEN CIANJUR,MANCANEGARA,7824,ORANG,2014
...,...,...,...,...,...,...,...,...,...
344,345,32,JAWA BARAT,3277,KOTA CIMAHI,NUSANTARA,48148,ORANG,2020
345,346,32,JAWA BARAT,3278,KOTA TASIKMALAYA,MANCANEGARA,15,ORANG,2020
346,347,32,JAWA BARAT,3278,KOTA TASIKMALAYA,NUSANTARA,32860,ORANG,2020
347,348,32,JAWA BARAT,3279,KOTA BANJAR,MANCANEGARA,0,ORANG,2020
348,349,32,JAWA BARAT,3279,KOTA BANJAR,NUSANTARA,9832,ORANG,2020

In [13]:
od_15414_jumlah_pengunjung_museum_berdasarkan_kabupatenkota

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_pengunjung,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,0,ORANG,2014
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,19011,ORANG,2014
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,0,ORANG,2014
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,0,ORANG,2014
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,1200,ORANG,2014
...,...,...,...,...,...,...,...,...
183,184,32,JAWA BARAT,3275,KOTA BEKASI,400,ORANG,2020
184,185,32,JAWA BARAT,3276,KOTA DEPOK,0,ORANG,2020
185,186,32,JAWA BARAT,3277,KOTA CIMAHI,0,ORANG,2020
186,187,32,JAWA BARAT,3278,KOTA TASIKMALAYA,0,ORANG,2020
187,188,32,JAWA BARAT,3279,KOTA BANJAR,0,ORANG,2020

In [14]:
od_15420_jml_pengunjung_tempat_rekreasi__jenis_wisatawan

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jenis_wisatawan,jumlah_pengunjung,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,MANCANEGARA,0,ORANG,2014
1,2,32,JAWA BARAT,3201,KABUPATEN BOGOR,NUSANTARA,0,ORANG,2014
2,3,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,MANCANEGARA,2849,ORANG,2014
3,4,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,NUSANTARA,111947,ORANG,2014
4,5,32,JAWA BARAT,3203,KABUPATEN CIANJUR,MANCANEGARA,36518,ORANG,2014
...,...,...,...,...,...,...,...,...,...
371,372,32,JAWA BARAT,3277,KOTA CIMAHI,NUSANTARA,65610,ORANG,2020
372,373,32,JAWA BARAT,3278,KOTA TASIKMALAYA,MANCANEGARA,50,ORANG,2020
373,374,32,JAWA BARAT,3278,KOTA TASIKMALAYA,NUSANTARA,48584,ORANG,2020
374,375,32,JAWA BARAT,3279,KOTA BANJAR,MANCANEGARA,9,ORANG,2020
375,376,32,JAWA BARAT,3279,KOTA BANJAR,NUSANTARA,15968,ORANG,2020

In [16]:
od_17233_jumlah_pengunjung_bioskop_berdasarkan_kabupatenkota

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_pengunjung,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,0,ORANG,2014
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,0,ORANG,2014
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,0,ORANG,2014
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,0,ORANG,2014
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,0,ORANG,2014
...,...,...,...,...,...,...,...,...
103,104,32,JAWA BARAT,3275,KOTA BEKASI,450,ORANG,2017
104,105,32,JAWA BARAT,3276,KOTA DEPOK,148716,ORANG,2017
105,106,32,JAWA BARAT,3277,KOTA CIMAHI,0,ORANG,2017
106,107,32,JAWA BARAT,3278,KOTA TASIKMALAYA,0,ORANG,2017
107,108,32,JAWA BARAT,3279,KOTA BANJAR,0,ORANG,2017

In [17]:
od_penginapan_remaja_berdasarkan_kunjungan_wisatawan

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jenis_wisatawan,jumlah_pengunjung,satuan,tahun
0,0,32,JAWA BARAT,3201,KABUPATEN BOGOR,MANCANEGARA,0,ORANG,2014
1,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,NUSANTARA,0,ORANG,2014
2,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,MANCANEGARA,0,ORANG,2014
3,3,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,NUSANTARA,0,ORANG,2014
4,4,32,JAWA BARAT,3203,KABUPATEN CIANJUR,MANCANEGARA,12,ORANG,2014
...,...,...,...,...,...,...,...,...,...
209,209,32,JAWA BARAT,3277,KOTA CIMAHI,NUSANTARA,375,ORANG,2017
210,210,32,JAWA BARAT,3278,KOTA TASIKMALAYA,MANCANEGARA,0,ORANG,2017
211,211,32,JAWA BARAT,3278,KOTA TASIKMALAYA,NUSANTARA,0,ORANG,2017
212,212,32,JAWA BARAT,3279,KOTA BANJAR,MANCANEGARA,0,ORANG,2017
213,213,32,JAWA BARAT,3279,KOTA BANJAR,NUSANTARA,0,ORANG,2017

In [18]:
od_perkemahan_berdasarkan_jumlah_pengunjung

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jenis_wisatawan,jumlah_pengunjung,satuan,tahun
0,0,32,JAWA BARAT,3201,KABUPATEN BOGOR,MANCANEGARA,8,ORANG,2014
1,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,NUSANTARA,16963,ORANG,2014
2,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,MANCANEGARA,2265,ORANG,2014
3,3,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,NUSANTARA,107550,ORANG,2014
4,4,32,JAWA BARAT,3203,KABUPATEN CIANJUR,MANCANEGARA,92,ORANG,2014
...,...,...,...,...,...,...,...,...,...
317,317,32,JAWA BARAT,3277,KOTA CIMAHI,NUSANTARA,495,ORANG,2019
318,318,32,JAWA BARAT,3278,KOTA TASIKMALAYA,MANCANEGARA,0,ORANG,2019
319,319,32,JAWA BARAT,3278,KOTA TASIKMALAYA,NUSANTARA,0,ORANG,2019
320,320,32,JAWA BARAT,3279,KOTA BANJAR,MANCANEGARA,0,ORANG,2019
321,321,32,JAWA BARAT,3279,KOTA BANJAR,NUSANTARA,0,ORANG,2019

In [19]:
od_pondok_wisata_berdasarkan_jumlah_pengunjung

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jenis_wisatawan,jumlah_pengunjung,satuan,tahun
0,0,32,JAWA BARAT,3201,KABUPATEN BOGOR,MANCANEGARA,0,ORANG,2014
1,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,NUSANTARA,0,ORANG,2014
2,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,MANCANEGARA,687,ORANG,2014
3,3,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,NUSANTARA,11214,ORANG,2014
4,4,32,JAWA BARAT,3203,KABUPATEN CIANJUR,MANCANEGARA,0,ORANG,2014
...,...,...,...,...,...,...,...,...,...
209,209,32,JAWA BARAT,3277,KOTA CIMAHI,NUSANTARA,139,ORANG,2017
210,210,32,JAWA BARAT,3278,KOTA TASIKMALAYA,MANCANEGARA,0,ORANG,2017
211,211,32,JAWA BARAT,3278,KOTA TASIKMALAYA,NUSANTARA,0,ORANG,2017
212,212,32,JAWA BARAT,3279,KOTA BANJAR,MANCANEGARA,0,ORANG,2017
213,213,32,JAWA BARAT,3279,KOTA BANJAR,NUSANTARA,0,ORANG,2017

In [25]:
od_15422_jumlah_wisatawan_berdasarkan_kategori.groupby(['tahun','kategori_wisatawan'])['jumlah_wisatawan'].sum()

tahun  kategori_wisatawan
2016   WISATAWAN DOMESTIK       58728666
       WISATAWAN MANCANEGARA     4428094
2017   WISATAWAN DOMESTIK       59644070
       WISATAWAN MANCANEGARA     4984035
2018   WISATAWAN DOMESTIK       63298608
       WISATAWAN MANCANEGARA     2597455
2019   WISATAWAN DOMESTIK       64610832
       WISATAWAN MANCANEGARA     3645433
2020   WISATAWAN DOMESTIK       36524515
       WISATAWAN MANCANEGARA     3716950
Name: jumlah_wisatawan, dtype: int64