In [1]:
import pandas as pd

In [7]:
od_15396_jumlah_seniman_berdasarkan_bidang_kesenian = pd.read_csv('Files/pariwisata/od_15396_jumlah_seniman_berdasarkan_bidang_kesenian/data.jabarprov.go.id/disparbud-od_15396_jumlah_seniman_berdasarkan_bidang_kesenian_data.csv')

od_15408_jumlah_tenaga_kerja_restoran_berdasarkan_jenis_kelamin = pd.read_csv('Files/pariwisata/od_15408_jumlah_tenaga_kerja_restoran_berdasarkan_jenis_kelamin/data.jabarprov.go.id/disparbud-od_15408_jumlah_tenaga_kerja_restoran_berdasarkan_jenis_kelamin_data.csv')

od_17131_jumlah_bar_berdasarkan_kabupatenkota = pd.read_csv('Files/pariwisata/od_17131_jumlah_bar_berdasarkan_kabupatenkota/data.jabarprov.go.id/disparbud-od_17131_jumlah_bar_berdasarkan_kabupatenkota_data.csv')

od_17132_jumlah_tenaga_kerja_bar_berdasarkan_jenis_kelamin = pd.read_csv('Files/pariwisata/od_17132_jumlah_tenaga_kerja_bar_berdasarkan_jenis_kelamin/data.jabarprov.go.id/disparbud-od_17132_jumlah_tenaga_kerja_bar_berdasarkan_jenis_kelamin_data.csv')

od_17133_jumlah_sarana_bar_berdasarkan_jenis_sarana = pd.read_csv('Files/pariwisata/od_17133_jumlah_sarana_bar_berdasarkan_jenis_sarana/data.jabarprov.go.id/disparbud-od_17133_jumlah_sarana_bar_berdasarkan_jenis_sarana_data.csv')

od_17230_jumlah_bioskop_berdasarkan_kabupatenkota = pd.read_csv('Files/pariwisata/od_17230_jumlah_bioskop_berdasarkan_kabupatenkota/data.jabarprov.go.id/disparbud-od_17230_jumlah_bioskop_berdasarkan_kabupatenkota_data.csv')

od_17297_jumlah_tempat_hiburan_berdasarkan_jenis_tempat_hiburan = pd.read_csv('Files/pariwisata/od_17297_jumlah_tempat_hiburan_berdasarkan_jenis_tempat_hiburan/data.jabarprov.go.id/disparbud-od_17297_jumlah_tempat_hiburan_berdasarkan_jenis_tempat_hiburan_data.csv')

od_17318_jumlah_sarana_restoran_berdasarkan_jenis_sarana = pd.read_csv('Files/pariwisata/od_17318_jumlah_sarana_restoran_berdasarkan_jenis_sarana/data.jabarprov.go.id/disparbud-od_17318_jumlah_sarana_restoran_berdasarkan_jenis_sarana_data.csv')

od_jumlah_restoran_rumah_makan_dan_cafe = pd.read_csv('Files/pariwisata/od_jumlah_restoran_rumah_makan_dan_cafe/data.jabarprov.go.id/disparbud-od_jumlah_restoran_rumah_makan_dan_cafe_data.csv')

od_jumlah_museum_berdasarkan_pengelola = pd.read_csv('Files/pariwisata/od_jumlah_museum_berdasarkan_pengelola/data.jabarprov.go.id/disparbud-od_jumlah_museum_berdasarkan_pengelola_data.csv')

od_jumlah_tenaga_kerja_perkemahan_berdasarkan_jenis_kelamin = pd.read_csv('Files/pariwisata/od_jumlah_tenaga_kerja_perkemahan_berdasarkan_jenis_kelamin/data.jabarprov.go.id/disparbud-od_jumlah_tenaga_kerja_perkemahan_berdasarkan_jenis_kelamin_data.csv')

In [8]:
od_15396_jumlah_seniman_berdasarkan_bidang_kesenian

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,bidang_kesenian,jumlah_seniman,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,KARAWITAN,186,ORANG,2014
1,2,32,JAWA BARAT,3201,KABUPATEN BOGOR,TERATER,12,ORANG,2014
2,3,32,JAWA BARAT,3201,KABUPATEN BOGOR,PEDALANG,97,ORANG,2014
3,4,32,JAWA BARAT,3201,KABUPATEN BOGOR,SASTRA,37,ORANG,2014
4,5,32,JAWA BARAT,3201,KABUPATEN BOGOR,RUPA,8,ORANG,2014
...,...,...,...,...,...,...,...,...,...
1768,1769,32,JAWA BARAT,3279,KOTA BANJAR,LUKIS,0,ORANG,2020
1769,1770,32,JAWA BARAT,3279,KOTA BANJAR,MUSIK,3,ORANG,2020
1770,1771,32,JAWA BARAT,3279,KOTA BANJAR,TERATER,3,ORANG,2020
1771,1772,32,JAWA BARAT,3279,KOTA BANJAR,PERTUNJUKAN LAINNYA,2,ORANG,2020
1772,1773,32,JAWA BARAT,3279,KOTA BANJAR,KONTEMPORER,2,ORANG,2020

In [9]:
od_15408_jumlah_tenaga_kerja_restoran_berdasarkan_jenis_kelamin

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jenis_kelamin,jumlah_tenaga_kerja,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,PRIA,61,ORANG,2014
1,2,32,JAWA BARAT,3201,KABUPATEN BOGOR,WANITA,74,ORANG,2014
2,3,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,PRIA,0,ORANG,2014
3,4,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,WANITA,0,ORANG,2014
4,5,32,JAWA BARAT,3203,KABUPATEN CIANJUR,PRIA,0,ORANG,2014
...,...,...,...,...,...,...,...,...,...
371,372,32,JAWA BARAT,3277,KOTA CIMAHI,WANITA,228,ORANG,2020
372,373,32,JAWA BARAT,3278,KOTA TASIKMALAYA,PRIA,423,ORANG,2020
373,374,32,JAWA BARAT,3278,KOTA TASIKMALAYA,WANITA,505,ORANG,2020
374,375,32,JAWA BARAT,3279,KOTA BANJAR,PRIA,108,ORANG,2020
375,376,32,JAWA BARAT,3279,KOTA BANJAR,WANITA,128,ORANG,2020

In [10]:
od_17131_jumlah_bar_berdasarkan_kabupatenkota

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_bar,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,0.0,UNIT,2014
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,0.0,UNIT,2014
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,0.0,UNIT,2014
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,0.0,UNIT,2014
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,0.0,UNIT,2014
...,...,...,...,...,...,...,...,...
156,157,32,JAWA BARAT,3275,KOTA BEKASI,28.0,UNIT,2019
157,158,32,JAWA BARAT,3276,KOTA DEPOK,0.0,UNIT,2019
158,159,32,JAWA BARAT,3277,KOTA CIMAHI,0.0,UNIT,2019
159,160,32,JAWA BARAT,3278,KOTA TASIKMALAYA,0.0,UNIT,2019
160,161,32,JAWA BARAT,3279,KOTA BANJAR,0.0,UNIT,2019

In [11]:
od_17132_jumlah_tenaga_kerja_bar_berdasarkan_jenis_kelamin

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jenis_kelamin,jumlah_tenaga_kerja,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,PRIA,0.0,ORANG,2014
1,2,32,JAWA BARAT,3201,KABUPATEN BOGOR,WANITA,0.0,ORANG,2014
2,3,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,PRIA,0.0,ORANG,2014
3,4,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,WANITA,0.0,ORANG,2014
4,5,32,JAWA BARAT,3203,KABUPATEN CIANJUR,PRIA,0.0,ORANG,2014
...,...,...,...,...,...,...,...,...,...
317,318,32,JAWA BARAT,3277,KOTA CIMAHI,WANITA,0.0,ORANG,2019
318,319,32,JAWA BARAT,3278,KOTA TASIKMALAYA,PRIA,0.0,ORANG,2019
319,320,32,JAWA BARAT,3278,KOTA TASIKMALAYA,WANITA,0.0,ORANG,2019
320,321,32,JAWA BARAT,3279,KOTA BANJAR,PRIA,0.0,ORANG,2019
321,322,32,JAWA BARAT,3279,KOTA BANJAR,WANITA,0.0,ORANG,2019

In [12]:
od_17133_jumlah_sarana_bar_berdasarkan_jenis_sarana

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jenis_sarana,jumlah_sarana,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,MEJA,0.0,UNIT,2014
1,2,32,JAWA BARAT,3201,KABUPATEN BOGOR,KURSI,0.0,UNIT,2014
2,3,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,MEJA,0.0,UNIT,2014
3,4,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,KURSI,0.0,UNIT,2014
4,5,32,JAWA BARAT,3203,KABUPATEN CIANJUR,MEJA,0.0,UNIT,2014
...,...,...,...,...,...,...,...,...,...
209,210,32,JAWA BARAT,3277,KOTA CIMAHI,KURSI,0.0,UNIT,2017
210,211,32,JAWA BARAT,3278,KOTA TASIKMALAYA,MEJA,0.0,UNIT,2017
211,212,32,JAWA BARAT,3278,KOTA TASIKMALAYA,KURSI,0.0,UNIT,2017
212,213,32,JAWA BARAT,3279,KOTA BANJAR,MEJA,0.0,UNIT,2017
213,214,32,JAWA BARAT,3279,KOTA BANJAR,KURSI,0.0,UNIT,2017

In [13]:
od_17230_jumlah_bioskop_berdasarkan_kabupatenkota

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_bioskop,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,1,UNIT,2014
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,0,UNIT,2014
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,0,UNIT,2014
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,0,UNIT,2014
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,1,UNIT,2014
...,...,...,...,...,...,...,...,...
157,158,32,JAWA BARAT,3275,KOTA BEKASI,19,UNIT,2019
158,159,32,JAWA BARAT,3276,KOTA DEPOK,0,UNIT,2019
159,160,32,JAWA BARAT,3277,KOTA CIMAHI,0,UNIT,2019
160,161,32,JAWA BARAT,3278,KOTA TASIKMALAYA,2,UNIT,2019
161,162,32,JAWA BARAT,3279,KOTA BANJAR,1,UNIT,2019

In [14]:
od_17297_jumlah_tempat_hiburan_berdasarkan_jenis_tempat_hiburan

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jenis_tempat_hiburan,jumlah_tempat_hiburan,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,NIGHT CLUB,0,UNIT,2014
1,2,32,JAWA BARAT,3201,KABUPATEN BOGOR,PUB,0,UNIT,2014
2,3,32,JAWA BARAT,3201,KABUPATEN BOGOR,DISKOTIK,0,UNIT,2014
3,4,32,JAWA BARAT,3201,KABUPATEN BOGOR,KARAOKE/BAR,0,UNIT,2014
4,5,32,JAWA BARAT,3201,KABUPATEN BOGOR,PANTI PIJAT,43,UNIT,2014
...,...,...,...,...,...,...,...,...,...
805,806,32,JAWA BARAT,3279,KOTA BANJAR,NIGHT CLUB,0,UNIT,2019
806,807,32,JAWA BARAT,3279,KOTA BANJAR,PUB,0,UNIT,2019
807,808,32,JAWA BARAT,3279,KOTA BANJAR,DISKOTIK,0,UNIT,2019
808,809,32,JAWA BARAT,3279,KOTA BANJAR,KARAOKE/BAR,0,UNIT,2019
809,810,32,JAWA BARAT,3279,KOTA BANJAR,PANTI PIJAT,0,UNIT,2019

In [15]:
od_17318_jumlah_sarana_restoran_berdasarkan_jenis_sarana

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jenis_sarana,jumlah_sarana,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,MEJA,10566.0,UNIT,2014
1,2,32,JAWA BARAT,3201,KABUPATEN BOGOR,KURSI,0.0,UNIT,2014
2,3,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,MEJA,91.0,UNIT,2014
3,4,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,KURSI,470.0,UNIT,2014
4,5,32,JAWA BARAT,3203,KABUPATEN CIANJUR,MEJA,0.0,UNIT,2014
...,...,...,...,...,...,...,...,...,...
209,210,32,JAWA BARAT,3277,KOTA CIMAHI,KURSI,640.0,UNIT,2017
210,211,32,JAWA BARAT,3278,KOTA TASIKMALAYA,MEJA,0.0,UNIT,2017
211,212,32,JAWA BARAT,3278,KOTA TASIKMALAYA,KURSI,0.0,UNIT,2017
212,213,32,JAWA BARAT,3279,KOTA BANJAR,MEJA,5.0,UNIT,2017
213,214,32,JAWA BARAT,3279,KOTA BANJAR,KURSI,110.0,UNIT,2017

In [16]:
od_jumlah_restoran_rumah_makan_dan_cafe

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_resto,satuan,tahun
0,0,32,JAWA BARAT,3201,KABUPATEN BOGOR,121,UNIT,2014
1,1,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,72,UNIT,2014
2,2,32,JAWA BARAT,3203,KABUPATEN CIANJUR,212,UNIT,2014
3,3,32,JAWA BARAT,3204,KABUPATEN BANDUNG,532,UNIT,2014
4,4,32,JAWA BARAT,3205,KABUPATEN GARUT,96,UNIT,2014
...,...,...,...,...,...,...,...,...
156,156,32,JAWA BARAT,3275,KOTA BEKASI,2208,UNIT,2019
157,157,32,JAWA BARAT,3276,KOTA DEPOK,0,UNIT,2019
158,158,32,JAWA BARAT,3277,KOTA CIMAHI,116,UNIT,2019
159,159,32,JAWA BARAT,3278,KOTA TASIKMALAYA,216,UNIT,2019
160,160,32,JAWA BARAT,3279,KOTA BANJAR,0,UNIT,2019

In [17]:
od_jumlah_museum_berdasarkan_pengelola

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,pengelola_museum,jumlah_museum,satuan,tahun
0,0,32,JAWA BARAT,3201,KABUPATEN BOGOR,NEGERI,0,UNIT,2018
1,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,SWASTA,0,UNIT,2018
2,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,NEGERI,1,UNIT,2018
3,3,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,SWASTA,0,UNIT,2018
4,4,32,JAWA BARAT,3203,KABUPATEN CIANJUR,NEGERI,0,UNIT,2018
...,...,...,...,...,...,...,...,...,...
103,103,32,JAWA BARAT,3277,KOTA CIMAHI,SWASTA,0,UNIT,2019
104,104,32,JAWA BARAT,3278,KOTA TASIKMALAYA,NEGERI,0,UNIT,2019
105,105,32,JAWA BARAT,3278,KOTA TASIKMALAYA,SWASTA,0,UNIT,2019
106,106,32,JAWA BARAT,3279,KOTA BANJAR,NEGERI,0,UNIT,2019
107,107,32,JAWA BARAT,3279,KOTA BANJAR,SWASTA,0,UNIT,2019

In [18]:
od_jumlah_tenaga_kerja_perkemahan_berdasarkan_jenis_kelamin

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jenis_kelamin,jumlah_tenaga_kerja,satuan,tahun
0,0,32,JAWA BARAT,3201,KABUPATEN BOGOR,PRIA,15,ORANG,2014
1,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,WANITA,0,ORANG,2014
2,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,PRIA,30,ORANG,2014
3,3,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,WANITA,7,ORANG,2014
4,4,32,JAWA BARAT,3203,KABUPATEN CIANJUR,PRIA,16,ORANG,2014
...,...,...,...,...,...,...,...,...,...
317,317,32,JAWA BARAT,3277,KOTA CIMAHI,WANITA,2,ORANG,2019
318,318,32,JAWA BARAT,3278,KOTA TASIKMALAYA,PRIA,0,ORANG,2019
319,319,32,JAWA BARAT,3278,KOTA TASIKMALAYA,WANITA,0,ORANG,2019
320,320,32,JAWA BARAT,3279,KOTA BANJAR,PRIA,0,ORANG,2019
321,321,32,JAWA BARAT,3279,KOTA BANJAR,WANITA,0,ORANG,2019